#container{
    display: flex;
    flex-direction: column;
    background-color: #FFC0CB;
    width: fit-content;
    padding: 30px;
    align-items: center;
    border-radius: 15px;
    margin: auto;
}
#display{
    width: 100%;
    background-color: whitesmoke;
    height: 75px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 35px;
}
.row{
    margin: 10px auto;

}
button{
    width: 75Px;
    height: 75px;
    font-size: 25px;
    margin: 5px;
}
button:hover{
    background-color: #FF647F;
    cursor: pointer;
}